<%- include('./partials/_header.ejs') %>

<%- include('./partials/_navbar.ejs') %>

<body>

    <p> Kullanıcı Adı: <%= user %> </p>
    <p> ID: <%= id %> </p>
    <p> Email: <%= email %> </p>
    <p> Token: <%= token %> </p>

</body>
</html>
