<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link <%= page_name === 'home' ? 'active' : ''%>" aria-current="page" href="/">Home
                        &#127968;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page_name === 'dashboard' ? 'active' : ''%>" href="/dashboard">Dashboard
                        &#11035;</a>

                </li>

                <% if (!token) { %>

                    <li class="nav-item">
                        <a class="nav-link <%= page_name === 'login' ? 'active' : ''%>" href="/login">Login
                            &#x1F6E1;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= page_name === 'register' ? 'active' : ''%>" href="/register">Register
                            &#x1F6E1;</a>
                    </li>

                <% } else { %>


                <% } %>

                <li class="nav-item">
                    <a class="nav-link <%= page_name === 'contact' ? 'active' : ''%>" href="/contact">Contact
                        &#x2709;</a>

                </li>

                <% if (token) { %>

                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="/logout">Logout &#x21AA;</a>
                    </li>

                <% } else { %>

                <% } %>

                <!-- <% if (idAdmin) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin" onclick="window.open('/admin', 'AdminPanel', 'width=800,height=600,scrollbars=yes,resizable=yes'); return false;">
                            Admin Panel
                        </a>
                    </li>
                <% } %> -->

                <% if (idAdmin) { %>
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="openAdminPanel(); return false;">Admin Panel</a>
                    </li>
                <% } %>

            </ul>

        </div>
        <a class="navbar-brand" href="/">Product Brand İnformation System</a>
    </div>
</nav>

<script>
    function openAdminPanel() {
    const w = 650, h = 450;
    const left = (screen.width - w) / 2;
    const top  = (screen.height - h) / 2;
    const features = [
        `width=${w}`,
        `height=${h}`,
        `left=${left}`,
        `top=${top}`,
        'toolbar=0',
        'menubar=0',
        'location=0',
        'status=0',
        'scrollbars=0',
        'resizable=0'
    ].join(',');

    const win = window.open('/admin', 'AdminPanel', features);

      // yüklendiğinde köşeleri yuvarla
    win.addEventListener('load', () => {
        const docEl = win.document.documentElement;
        docEl.style.overflow = 'hidden';
    });
    }
</script>
